*wpftmp.csproj*
/.vs/UkiConsole
/UkiConsole/bin/Debug/net8.0-windows7.0
/UkiConsole/obj/Debug/net5.0-windows/App.g.i.cs
/UkiConsole/obj/Debug/net5.0-windows/axisWindow.g.i.cs
/UkiConsole/obj/Debug/net5.0-windows/CueWindow.g.i.cs
/UkiConsole/obj/Debug/net5.0-windows/MainWindow.g.i.cs
/UkiConsole/obj/Debug/net5.0-windows/MiniWindow.g.i.cs
/UkiConsole/obj/Debug/net5.0-windows/UkiConsole.AssemblyInfo.cs
/UkiConsole/obj/Debug/net5.0-windows/UkiConsole.AssemblyInfoInputs.cache
/UkiConsole/obj/Debug/net5.0-windows/UkiConsole.assets.cache
/UkiConsole/obj/Debug/net5.0-windows/UkiConsole.csproj.AssemblyReference.cache
/UkiConsole/obj/Debug/net5.0-windows/UkiConsole.GeneratedMSBuildEditorConfig.editorconfig
/UkiConsole/obj/Debug/net5.0-windows/UkiConsole_MarkupCompile.i.cache
/UkiConsole/obj/Debug/net5.0-windows/UkiConsole_MarkupCompile.i.lref
*.dll
/UkiConsole/obj/Debug/net8.0-windows7.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/UkiConsole/obj/Debug/net8.0-windows7.0/App.g.cs
/UkiConsole/obj/Debug/net8.0-windows7.0/App.g.i.cs
/UkiConsole/obj/Debug/net8.0-windows7.0/apphost.exe
/UkiConsole/obj/Debug/net8.0-windows7.0/axisWindow.baml
/UkiConsole/obj/Debug/net8.0-windows7.0/axisWindow.g.cs
/UkiConsole/obj/Debug/net8.0-windows7.0/axisWindow.g.i.cs
/UkiConsole/obj/Debug/net8.0-windows7.0/CueWindow.baml
/UkiConsole/obj/Debug/net8.0-windows7.0/CueWindow.g.cs
/UkiConsole/obj/Debug/net8.0-windows7.0/CueWindow.g.i.cs
/UkiConsole/obj/Debug/net8.0-windows7.0/MainWindow.baml
/UkiConsole/obj/Debug/net8.0-windows7.0/MainWindow.g.cs
/UkiConsole/obj/Debug/net8.0-windows7.0/MainWindow.g.i.cs
/UkiConsole/obj/Debug/net8.0-windows7.0/UkiConsole.AssemblyInfo.cs
/UkiConsole/obj/Debug/net8.0-windows7.0/UkiConsole.AssemblyInfoInputs.cache
/UkiConsole/obj/Debug/net8.0-windows7.0/UkiConsole.assets.cache
/UkiConsole/obj/Debug/net8.0-windows7.0/UkiConsole.csproj.AssemblyReference.cache
/UkiConsole/obj/Debug/net8.0-windows7.0/UkiConsole.csproj.BuildWithSkipAnalyzers
/UkiConsole/obj/Debug/net8.0-windows7.0/UkiConsole.csproj.CoreCompileInputs.cache
/UkiConsole/obj/Debug/net8.0-windows7.0/UkiConsole.csproj.FileListAbsolute.txt
/UkiConsole/obj/Debug/net8.0-windows7.0/UkiConsole.csproj.Up2Date
/UkiConsole/obj/Debug/net8.0-windows7.0/UkiConsole.g.resources
/UkiConsole/obj/Debug/net8.0-windows7.0/UkiConsole.GeneratedMSBuildEditorConfig.editorconfig
/UkiConsole/obj/Debug/net8.0-windows7.0/UkiConsole.genruntimeconfig.cache
/UkiConsole/obj/Debug/net8.0-windows7.0/UkiConsole.pdb
/UkiConsole/obj/Debug/net8.0-windows7.0/UkiConsole.sourcelink.json
/UkiConsole/obj/Debug/net8.0-windows7.0/UkiConsole_MarkupCompile.cache
/UkiConsole/obj/Debug/net8.0-windows7.0/UkiConsole_MarkupCompile.i.cache
/UkiConsole/obj/Debug/net8.0-windows7.0/UkiConsole_MarkupCompile.lref
/UkiConsole/obj/Debug/net8.0-windows7.0/UkiConsole_ydk1omke_wpftmp.AssemblyInfo.cs
/UkiConsole/obj/Debug/net8.0-windows7.0/UkiConsole_ydk1omke_wpftmp.AssemblyInfoInputs.cache
/UkiConsole/obj/Debug/net8.0-windows7.0/UkiConsole_ydk1omke_wpftmp.assets.cache
/UkiConsole/obj/Debug/net8.0-windows7.0/UkiConsole_ydk1omke_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/UkiConsole/obj/Debug/net8.0-windows7.0/UkiConsole_ydk1omke_wpftmp.sourcelink.json
/UkiConsole/obj/project.assets.json
/UkiConsole/obj/project.nuget.cache
/UkiConsole/obj/UkiConsole.csproj.nuget.dgspec.json
/UkiConsole/obj/UkiConsole.csproj.nuget.g.props
/UkiConsole/obj/UkiConsole.csproj.nuget.g.targets
